<!-- <div class="card">
    <div class="card__image">
        <img class="card__image-inner" src="<%= item.images %>" alt="">
    </div>
    <a href="/<%= item.url %>">
        <div class="card__title">
            <div class="card__title-desp">
                <span><%= item.name %></span>
            </div>
            <div class="card__title-date">
                <span><%= item.date %></span>
            </div>
        </div>
    </a>
</div> -->

<div class="article-card">
    <div class="content">
      <p class="date"><%= item.date %></p>
      <p class="title"><%= item.name %></p>
    </div>
    <img src="<%= item.images %>" alt="article-cover" />
  </div>